<div class="event-edition" fxFlex fxLayout="row">
  <app-sidenav-return-home fxFlex="420px"></app-sidenav-return-home>
  <div fxFlex fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center" class="sidenav-header background-blue-light">
      <div *ngIf="!event?.name" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <mat-icon>add_circle</mat-icon>
        <span>Ajouter un événement sur la carte</span>
      </div>
      <span *ngIf="event?.name">{{event.name | uppercase}}</span>
    </div>

    <app-carousel #carousel *ngIf="event" [showControls]="false" fxFlex fxLayoutAlign="center start">
      <!-- All forms to create an event -->

      <app-event-form *carouselItem class="carousel-element" [event]="event" (eventChanged)="carousel.next()"></app-event-form>

      <app-event-planning *carouselItem class="carousel-element" [event]="event" (backwardPressed)="carousel.prev()"
        (eventChanged)="carousel.next()"></app-event-planning>

      <app-event-location-type *carouselItem class="carousel-element" [event]="event" (backwardPressed)="carousel.prev()"
        (eventChanged)="carousel.next()"></app-event-location-type>

      <!-- Supprimé pour le proto pour le moment -->
      <!-- <app-event-contributors *carouselItem class="carousel-element" [event]="event" (backwardPressed)="carousel.prev()" (eventChanged)="carousel.next()"></app-event-contributors> -->

      <app-event-missing *carouselItem class="carousel-element" [event]="event" (backwardPressed)="carousel.prev()"
        (eventChanged)="endCarousel($event)"></app-event-missing>
    </app-carousel>
  </div>
</div>