<div class="event-edition" fxFlex fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="sidenav-header background-red">
    <span *ngIf="!event?.name">{{'Créer un évènement' | uppercase}}</span>
    <span *ngIf="event?.name">{{event.name | uppercase}}</span>
    <button type="button" mat-icon-button [routerLink]="'/admin'">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <app-carousel #carousel [showControls]="false" fxFlex fxLayoutAlign="center start">
    <!-- All forms to create an event -->

    <app-event-form *carouselItem class="carousel-element" [event]="event" (eventSaved)="carousel.next()"></app-event-form>

    <app-event-planning *carouselItem class="carousel-element" [event]="event" (backwardPressed)="carousel.prev()" (eventSaved)="carousel.next()"></app-event-planning>

    <app-event-location-type *carouselItem class="carousel-element" [event]="event" (backwardPressed)="carousel.prev()" (eventSaved)="carousel.next()"></app-event-location-type>

    <app-event-contributors *carouselItem class="carousel-element" [event]="event" (backwardPressed)="carousel.prev()" (eventSaved)="carousel.next()"></app-event-contributors>

    <app-event-missing *carouselItem class="carousel-element" [event]="event" (backwardPressed)="carousel.prev()" (eventSaved)="endCarousel()"></app-event-missing>
  </app-carousel>
</div>