/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

*:focus, div, button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: #6CCACC;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

.error-message {
    color: #DD1828;
    font-size: 10pt;
}

.mat-button {
    background-color: white;
    color: #6CCACC;
}

/* Required fields */
label.required:after,
mat-form-field.required label:after,
span.required:before {
  content: "*";
  color: #DD1828;
}

/* ----- POPUP ----- */

.popup .mat-button {
    background-color: #6CCACC;
    color: white;
}

.mat-dialog-container {
    padding: 0 !important;
}

.popup-header {
    padding: 5px 10px 5px 20px;
    background-color: #6CCACC;
    color: white;
}

.popup-header i {
    color: white;
}

.popup-body {
    padding: 5px 20px 20px 20px;
    background-color: white;
    color: #6CCACC;
}

/* ----- END POPUP ----- */

/* ----- BACKGROUNDS ----- */

.background-red {
    background-color: #FF5555;
}

.background-blue-light {
    background-color: #6CCACC;
}

.background-blue-dark {
    background-color: #0D70CD;
}

/* ----- END BACKGROUNDS ----- */

/* ----- SIDENAV ----- */

.mat-sidenav {
    width: 420px;
    max-width: 420px;
    overflow-x: hidden;
}

.mat-sidenav .sidenav-header {
    color: white;
    font-weight: bold;
    padding-left: 15px;
}

.mat-sidenav .sidenav-footer {
    width: 100%;
    background-color: #eaeaea;
}
.mat-sidenav .sidenav-footer>button {
    margin: 10px
}

.sidenav-body {
    margin: 30px;
}

.sidenav-body>*:first-child {
    margin-top: 0;
}

.sidenav-body>.subtitle {
    background-color: #6CCACC;
    color: white;
    margin: -30px -30px 0 -30px;
    padding: 20px 30px;
}

/* ----- END SIDENAV ----- */

/* ----- BUTTONS ----- */

.next-button {
    color: white;
}

.next-button.background-red:disabled {
    background-color: #eaeaea;
}

.update-button {
    background-color: white;
    border: 3px solid #FF5555 !important;
    color: #FF5555 !important;
}

.delete-button {
    border-radius: 0 !important;
    color: white;
    background-color: #FF5555;
}

/* ----- END BUTTONS ----- */

/* ------ Material button ------- */

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #6CCACC;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #6CCACC;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #6CCACC;
}
  
/* ------ END Radio button ------- */

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #6CCACC;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar, .mat-slide-toggle-bar {
    background-color: white;
}
.mat-slide-toggle-thumb {
    background-color: #cccccc;
}

.mat-chip.mat-standard-chip {
    background-color: #6CCACC;
    color: white;
}

label {
    cursor: pointer;
}

.mat-expansion-panel:not(:first-child) {
    border-top: 1px solid #6CCACC;
}
.mat-expansion-panel-body {
    background-color: #eaeaea !important;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: initial !important;
}
.mat-expansion-panel-spacing {
    margin: 0 !important;
}
.mat-expansion-panel-header-title, .mat-expansion-indicator::after {
    color: #6CCACC !important;
}
.contributors .mat-expansion-panel-header-title, .contributors .mat-expansion-indicator::after {
    color: #0d70cd !important;
}

.status i {
    cursor: pointer;
    color: #cccccc;
    width: 40px;
    height: 40px;
    font-size: 40px;
    padding: 5px;
}
.status:hover input ~ i {
    color: #aaa;
}
.status input:checked ~ i {
    color: #6CCACC;
}

.services {
    margin: 15px;
}
.services i {
    cursor: pointer;
    color: white;
    background-color: #cccccc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 50px;
    padding: 10px;
}
.services input, .status input {
    z-index: -1;
    top: 0;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.services:hover input ~ i {
  background-color: #aaa;
}
.services.needed input:checked ~ i, .status.needed input:checked ~ i {
  background-color: #6CCACC;
}
.services.provided input:checked ~ i {
  background-color: #0d70cd;
}
.services.services-event input:checked ~ i {
    background-color: #0d70cd;
}
.full-width {
    width: 100%;
}

.mat-drawer-backdrop {
    background-color: transparent !important;
    pointer-events: none;
}

.event-description, .contributor-description {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}
.event-section, .contributor-section {
    padding: 15px;
}

.left-content {
    height: 100%;
    overflow-y: auto;
    background-color: white;
    -webkit-box-shadow: 6px 0 7px -4px #888;
    box-shadow: 6px 0 7px -4px #888;
}
.content-title {
    text-align: center;
    background-color: #6CCACC;
    text-transform: uppercase;
    color: white;
    padding: 20px 0 20px 0;
}

.carousel-wrapper {
    height: 100%;
}

.carousel-element {
    height: 100%;
    width: 420px;
}

.overflowable {
    height: 100%;
    overflow-y: auto;
}

.text {
    white-space: pre-line;
}

.section-assistants .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #F9A755;
}

.ol-overlay-container {
    width: 100%;
}

.items-list {
    position: absolute;
    background-color: white;
}

.items-list .item {
    justify-content: space-between;
    display: flex;
    padding: 5px 10px 5px 10px;
    color: #6CCACC;
    cursor: pointer;
}

.items-list .item.event {
    color: #6CCACC;
}

.items-list .item.contributor {
    color: #0d70cd;
}

.items-list .item span {
    display: flex;
    place-content: start;
    align-items: center;
}

.items-list .item.selected {
    background-color: #FF5555;
    color: white;
}

.items-list .item:not(:last-child) {
    border-bottom: 1px solid #6CCACC;
}