/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

*:focus, div, button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: #6CCACC;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

.error-message {
    color: #DD1828;
    font-size: 10pt;
}

.mat-button {
    background-color: white;
    color: #6CCACC;
}

/* Required fields */
label.required:after,
mat-form-field.required label:after,
span.required:before {
  content: "*";
  color: #DD1828;
}

/* ----- POPUP ----- */

.popup .mat-button {
    background-color: #6CCACC;
    color: white;
}

.mat-dialog-container {
    padding: 0 !important;
}

.popup-header {
    padding: 5px 10px 5px 20px;
    background-color: #6CCACC;
    color: white;
}

.popup-header i {
    color: white;
}

.popup-body {
    padding: 5px 20px 20px 20px;
    background-color: white;
    color: #6CCACC;
}

/* ----- END POPUP ----- */

/* ----- BACKGROUNDS ----- */

.background-red {
    background-color: #FF5555;
}

.background-blue-light {
    background-color: #6CCACC;
}

.background-blue-dark {
    background-color: #0D70CD;
}

/* ----- END BACKGROUNDS ----- */

/* ----- SIDENAV ----- */

.mat-sidenav {
    width: 400px;
    max-width: 400px;
}

.mat-sidenav .sidenav-header {
    color: white;
    font-weight: bold;
    padding-left: 15px;
}

.sidenav-body {
    margin: 30px;
}

/* ----- END SIDENAV ----- */

/* ----- BUTTONS ----- */

.next-button {
    color: white;
}

.next-button.background-red:disabled {
    background-color: #eaeaea;
}

/* ----- END BUTTONS ----- */

/* ------ Radio button ------- */

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #6CCACC;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #6CCACC;
}
  
/* ------ END Radio button ------- */

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #6CCACC;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar, .mat-slide-toggle-bar {
    background-color: white;
}
.mat-slide-toggle-thumb {
    background-color: #cccccc;
}

label {
    cursor: pointer;
}

.mat-expansion-panel:not(:first-child) {
    border-top: 1px solid #6CCACC;
}
.mat-expansion-panel-body {
    background-color: #eaeaea !important;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: initial !important;
}
.mat-expansion-panel-spacing {
    margin: 0 !important;
}
.mat-expansion-panel-header-title, .mat-expansion-indicator::after {
    color: #6CCACC !important;
}
.contributors .mat-expansion-panel-header-title, .contributors .mat-expansion-indicator::after {
    color: #0d70cd !important;
}

.mat-drawer-backdrop {
    background-color: transparent !important;
    pointer-events: none;
}