<app-carousel #carousel [showControls]="false" fxFlex fxLayoutAlign="center center">
  <div *carouselItem class="carousel-element" fxLayout="column" fxLayoutGap="15px">
    <button type="button" mat-button class="background-blue-light" (click)="showCreateEvent()">Créer un évènement</button>
    <button type="button" mat-button class="background-blue-dark">Ajouter un contributeur</button>
  </div>

  <app-event-form *carouselItem class="carousel-element" [event]="event" (eventSaved)="carousel.next()"></app-event-form>

  <app-event-planning *carouselItem class="carousel-element" [event]="event"></app-event-planning>
</app-carousel>