<div fxFlex fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="sidenav-header background-red">
    <span>{{'Ajouter un élément sur la carte' | uppercase}}</span>
    <button type="button" mat-icon-button [routerLink]="'/admin'">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="carousel-element" fxLayout="column" fxLayoutAlign="center space-between" fxLayoutGap="15px">
    <button type="button" mat-button class="background-blue-light" routerLink="/admin/events/edit">Créer un évènement</button>
    <button type="button" mat-button class="background-blue-dark" routerLink="/admin/contributors/edit">Ajouter un contributeur</button>
  </div>
  <!-- All forms to create a contributor -->
</div>