<div class="left-content">
  <form [hidden]="!isTypeEvents" [formGroup]="eventFiltersForm">
    <div class="filters-title filters-events bold">
      Filtrer les évènements
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="filters-search">
      <div fxLayout="row" fxLayoutAlign="center center" class="search-input filters-events">
        <i class="material-icons">search</i>
        <input type="text" formControlName="searchString">
      </div>
    </div>
    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header class="filters-events">
          <mat-panel-title>
            Statut
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="section-filters" fxLayout="column" fxLayoutGap="10px">
          <label class="status" fxLayoutAlign="start center">
            <input type="checkbox" formControlName="published">
            <i class="material-icons">location_on</i>Publiés
          </label>
          <label class="status" fxLayoutAlign="start center">
            <input type="checkbox" formControlName="unpublished">
            <i class="material-icons">edit_location</i>En cours d'organisation
          </label>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="filters-events">
          <mat-panel-title>
            Date ou période
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="section-filters" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-form-field>
            <input matInput autocomplete="new-password" [matDatepicker]="startPicker" [min]="today" [max]="endDate"
              placeholder="A partir de" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput autocomplete="new-password" [matDatepicker]="endPicker" [min]="startDate || today"
              placeholder="Jusqu'au" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="filters-events">
          <mat-panel-title>
            Type d'évènement
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="section-filters" fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex="60%" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center start">
            <label for="eat-input">Manger ensemble</label>
            <label for="cook-input">Cuisiner ensemble</label>
            <!-- Masqué pour le proto -->
            <!-- <label for="public-input">Tout public</label> -->
            <label for="regular-input">Récurrent</label>
          </div>
          <div fxFlex="30%" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
            <mat-slide-toggle id="eat" formControlName="eat"></mat-slide-toggle>
            <mat-slide-toggle id="cook" formControlName="cook"></mat-slide-toggle>
            <!-- Masqué pour le proto -->
            <!-- <mat-slide-toggle id="public" formControlName="public"></mat-slide-toggle> -->
            <mat-slide-toggle id="regular" formControlName="regular"></mat-slide-toggle>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="filters-events">
          <mat-panel-title>
            Besoins
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="section-filters" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <div fxLayout="row" class="full-width">
            <label class="services needed" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
              <input type="checkbox" formControlName="missingLocation">
              <i class="material-icons">kitchen</i>Un lieu
            </label>
            <label class="services needed" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
              <input type="checkbox" formControlName="missingFood">
              <i class="material-icons">shopping_cart</i>Des aliments
            </label>
          </div>
          <div fxLayout="row" class="full-width">
            <label class="services needed" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
              <input type="checkbox" formControlName="missingSkills">
              <i class="material-icons">school</i>Des professionnels
            </label>
            <label class="services needed" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
              <input type="checkbox" formControlName="missingPeople">
              <i class="material-icons">people</i>Des participants
            </label>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <label class="services needed" fxLayout="column" fxLayoutAlign="center center">
              <input type="checkbox" formControlName="missingAssistants">
              <i class="material-icons">mood</i>Des accompagnateurs
            </label>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>

  <form [hidden]="!isTypeContributors" [formGroup]="contributorFiltersForm">
    <div class="filters-title filters-contributors bold">
      Filtrer les contributeurs
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="filters-search">
      <div fxLayout="row" fxLayoutAlign="center center" class="search-input filters-contributors">
        <i class="material-icons">search</i>
        <input type="text" formControlName="searchString">
      </div>
    </div>
    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header class="filters-contributors">
          <mat-panel-title>
            Ce qu'ils peuvent proposer
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="section-filters" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <div fxLayout="row" class="full-width">
            <label class="services provided" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
              <input type="checkbox" formControlName="location">
              <i class="material-icons">kitchen</i>Un lieu
            </label>
            <label class="services provided" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
              <input type="checkbox" formControlName="food">
              <i class="material-icons">shopping_cart</i>Des aliments
            </label>
          </div>
          <div fxLayout="row" class="full-width">
            <label class="services provided" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
              <input type="checkbox" formControlName="skills">
              <i class="material-icons">school</i>Des professionnels
            </label>
            <label class="services provided" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
              <input type="checkbox" formControlName="people">
              <i class="material-icons">people</i>Des participants
            </label>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <label class="services provided" fxLayout="column" fxLayoutAlign="center center">
              <input type="checkbox" formControlName="assistants">
              <i class="material-icons">mood</i>Des accompagnateurs
            </label>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>