<div class="left-content" fxLayout="column">
  <div class="filters-title filters-events bold">
    Filtrer les évènements
  </div>
  <mat-accordion multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header class="filters-events">
        <mat-panel-title>
          ???
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="section-filters" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="60%" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center start">
          <label for="eventMine">Mes événements</label>
          <label for="eventOthers">Les événements des autres</label>
        </div>
        <div fxFlex="30%" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
          <mat-slide-toggle id="eventMine" [(ngModel)]="eventMine" (change)="applyEventsFilters()"></mat-slide-toggle>
          <mat-slide-toggle id="eventOthers" [(ngModel)]="eventOthers" (change)="applyEventsFilters()"></mat-slide-toggle>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="filters-events">
        <mat-panel-title>
          Statut
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="section-filters" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
        <label class="status" fxLayoutAlign="center center">
          <input type="checkbox" [(ngModel)]="published" (change)="applyEventsFilters()">
          <i class="material-icons">location_on</i>Publiés
        </label>
        <label class="status" fxLayoutAlign="center center">
          <input type="checkbox" [(ngModel)]="unpublished" (change)="applyEventsFilters()">
          <i class="material-icons">edit_location</i>En cours d'organisation
        </label>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="filters-events">
        <mat-panel-title>
          Date ou période
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="section-filters" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput autocomplete="new-password" [matDatepicker]="startPicker" [min]="today" [max]="endDate"
            placeholder="A partir de" [(ngModel)]="startDate" (blur)="applyEventsFilters()">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker (closed)="applyEventsFilters()"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput autocomplete="new-password" [matDatepicker]="endPicker" [min]="startDate || today"
            placeholder="Jusqu'au" [(ngModel)]="endDate" (blur)="applyEventsFilters()">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker (closed)="applyEventsFilters()"></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="filters-events">
        <mat-panel-title>
          Type d'évènement
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="section-filters" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="60%" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center start">
          <label for="eat-input">Manger ensemble</label>
          <label for="cook-input">Cuisiner ensemble</label>
          <!-- Masqué pour le proto -->
          <!-- <label for="public-input">Tout public</label> -->
          <label for="regular-input">Récurrent</label>
        </div>
        <div fxFlex="30%" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
          <mat-slide-toggle id="eat" [(ngModel)]="eatToggle" (change)="applyEventsFilters()"></mat-slide-toggle>
          <mat-slide-toggle id="cook" [(ngModel)]="cookToggle" (change)="applyEventsFilters()"></mat-slide-toggle>
          <!-- Masqué pour le proto -->
          <!-- <mat-slide-toggle id="public" [(ngModel)]="publicToggle" (change)="applyEventsFilters()"></mat-slide-toggle> -->
          <mat-slide-toggle id="regular" [(ngModel)]="regularToggle" (change)="applyEventsFilters()"></mat-slide-toggle>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="filters-events">
        <mat-panel-title>
          Besoins
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="section-filters" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div fxLayout="row" class="full-width">
          <label class="services needed" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
            <input type="checkbox" [(ngModel)]="missingLocation" (change)="applyEventsFilters()">
            <i class="material-icons">kitchen</i>Un lieu
          </label>
          <label class="services needed" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
            <input type="checkbox" [(ngModel)]="missingFood" (change)="applyEventsFilters()">
            <i class="material-icons">shopping_cart</i>Des aliments
          </label>
        </div>
        <div fxLayout="row" class="full-width">
          <label class="services needed" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
            <input type="checkbox" [(ngModel)]="missingSkills" (change)="applyEventsFilters()">
            <i class="material-icons">school</i>Des professionnels
          </label>
          <label class="services needed" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
            <input type="checkbox" [(ngModel)]="missingPeople" (change)="applyEventsFilters()">
            <i class="material-icons">people</i>Des participants
          </label>
        </div>
        <div fxLayout="row">
          <label class="services needed" fxLayout="column" fxLayoutAlign="center center">
            <input type="checkbox" [(ngModel)]="missingAssistants" (change)="applyEventsFilters()">
            <i class="material-icons">mood</i>Des accompagnateurs
          </label>
        </div>
      </div>
      <!-- </div> -->
    </mat-expansion-panel>
  </mat-accordion>
  <div class="filters-title filters-contributors bold">
    Filtrer les contributeurs
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="filters-contributors">
        <mat-panel-title>
          ???
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="section-filters" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="60%" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center start">
          <label for="contribMine">Mes contributions</label>
          <label for="contribOthers">Les contributions des autres</label>
        </div>
        <div fxFlex="30%" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
          <mat-slide-toggle id="contribMine" [(ngModel)]="contribMine" (change)="applyContributorsFilters()"></mat-slide-toggle>
          <mat-slide-toggle id="contribOthers" [(ngModel)]="contribOthers" (change)="applyContributorsFilters()"></mat-slide-toggle>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="filters-contributors">
        <mat-panel-title>
          Ce qu'ils peuvent proposer
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="section-filters" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div fxLayout="row" class="full-width">
          <label class="services provided" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
            <input type="checkbox" [(ngModel)]="location" (change)="applyContributorsFilters()">
            <i class="material-icons">kitchen</i>Un lieu
          </label>
          <label class="services provided" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
            <input type="checkbox" [(ngModel)]="food" (change)="applyContributorsFilters()">
            <i class="material-icons">shopping_cart</i>Des aliments
          </label>
        </div>
        <div fxLayout="row" class="full-width">
          <label class="services provided" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
            <input type="checkbox" [(ngModel)]="skills" (change)="applyContributorsFilters()">
            <i class="material-icons">school</i>Des professionnels
          </label>
          <label class="services provided" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
            <input type="checkbox" [(ngModel)]="people" (change)="applyContributorsFilters()">
            <i class="material-icons">people</i>Des participants
          </label>
        </div>
        <div fxLayout="row">
          <label class="services provided" fxLayout="column" fxLayoutAlign="center center">
            <input type="checkbox" [(ngModel)]="assistants" (change)="applyContributorsFilters()">
            <i class="material-icons">mood</i>Des accompagnateurs
          </label>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>