.filters-title {
    background-color: white;
    padding: 20px 0 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.filters-title.filters-events {
    color: #6CCACC;
}

.filters-title.filters-contributors {
    color: #0D70CD;
}

.section-filters {
    padding-top: 20px;
}

mat-form-field {
    width: 200px;
}