<div class="overflowable">
  <form [formGroup]="eventPlanningForm" (ngSubmit)="submitForm(eventPlanningForm.value)" fxLayout="column" class="sidenav-body">
    <!-- Date -->
    <h4>Choisir une date ou une période :</h4>

    <mat-form-field>
      <input matInput autocomplete="new-password" [matDatepicker]="startPicker" [min]="minDate" [max]="eventPlanningForm.get('dateEnd').value"
        formControlName="dateStart" placeholder="Date de début de l'évènement">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput autocomplete="new-password" [matDatepicker]="endPicker" [min]="eventPlanningForm.get('dateStart').value || minDate"
        formControlName="dateEnd" placeholder="Date de fin de l'évènement">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

    <h4>Répéter tous les :</h4>

    <mat-radio-group formControlName="occurenceType" fxLayout="column" fxLayoutGap="10px">
      <mat-radio-button [value]="OccurenceType.NEVER">Jamais</mat-radio-button>
      <mat-radio-button [value]="OccurenceType.DAILY">Jours</mat-radio-button>
      <mat-radio-button [value]="OccurenceType.WEEKLY">Semaines</mat-radio-button>
      <mat-radio-button [value]="OccurenceType.MONTHLY">Mois</mat-radio-button>
    </mat-radio-group>

    <div fxLayout="row" fxLayoutGap="10px" fxFlexOffset="15px">
      <button mat-button type="button" class="next-button background-red" fxFlex="50" (click)="goBackward()">
        Précédent
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-button type="submit" class="next-button background-red" fxFlex="50" [disabled]="eventPlanningForm.invalid">
        Suivant
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </form>
</div>