<form [formGroup]="userForm" (ngSubmit)="submitForm(userForm.value)" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
  <div fxLayout="column">
    <mat-form-field class="required">
      <input matInput type="text" formControlName="email" maxlength="100" placeholder="Email">
    </mat-form-field>
    <app-form-error [field]="userForm.controls.email"></app-form-error>

    <!-- Password -->
    <div fxLayout="column" formGroupName="passwords">
      <mat-form-field class="required">
        <input matInput type="password" formControlName="password" placeholder="Mot de passe">
      </mat-form-field>
      <app-form-error [field]="userForm.controls.passwords['controls'].password"></app-form-error>
      <mat-form-field class="required">
        <input matInput type="password" formControlName="passwordConfirm" placeholder="Confirmez le mot de passe">
      </mat-form-field>
      <app-form-error [field]="userForm.controls.passwords['controls'].passwordConfirm" [errors]="{'matchOther': 'Le mot de passe est différent'}"></app-form-error>
    </div>
  </div>

  <button mat-button type="submit" [disabled]="userForm.invalid">Créer</button>
</form>