<div fxFlex fxLayout="column" class="carousel-element">
  <ng-container *ngIf="contributor">
    <div fxFlex="40px" fxLayout="row" fxLayoutAlign="space-between center" class="sidenav-header background-red">
      <span>{{contributor.title | uppercase}}</span>
      <button type="button" mat-icon-button [routerLink]="'/admin'">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div fxFlex="100%" class="contributor-description">
      <div class="contributor-section">
        <div class="bold">Description</div>
        <div class="text">{{contributor.description}}</div>
      </div>
      <div class="contributor-section">
        <div class="bold">Horaires</div>
        <div class="text">{{contributor.hours}}</div>
      </div>
      <div class="contributor-section">
        <div class="bold">Contact</div>
        <div>
          <div>{{contributor.name}}</div>
          <div>{{contributor.email}}</div>
          <div>{{contributor.phone}}</div>
        </div>
      </div>
      <div class="contributor-section">
        <div class="bold">Adresse</div>
        <div>
          <div>{{contributor.houseNumber}} {{contributor.street}}</div>
          <div>{{contributor.zipcode}} {{contributor.city}}</div>
        </div>
      </div>
    </div>

    <div fxFlex="60px" fxLayoutAlign="row" class="sidenav-footer">
      <button mat-button fxFlex type="button" class="next-button background-red" [routerLink]="'/admin'">OK</button>
      <button *ngIf="authService.isConnected" mat-button fxFlex type="button" class="update-button" (click)="modifyContributor(contributor.id)">
        <mat-icon class="material-icons">edit</mat-icon>
        Modifier
      </button>
      <button *ngIf="authService.isConnected" mat-icon-button type="button" class="delete-button" (click)="deleteContributor(contributor.id)">
        <mat-icon class="material-icons">delete</mat-icon>
      </button>
    </div>
  </ng-container>
</div>