:host {
    height: 100%;
}

.mat-button {
    color: white;
    font-weight: bold;
    margin: 0 30px;
}

.update-button {
    background-color: white;
    border: 3px solid #0D70CD !important;
    color: #0D70CD !important;
}

.delete-button {
    border-radius: 0 !important;
    color: white;
    background-color: #0D70CD;
}