<div class="overflowable">
  <form [formGroup]="eventLocationForm" (ngSubmit)="submitForm(eventLocationForm.value)" fxLayout="column" class="sidenav-body">
    <!-- Location -->
    <h4>Renseignez le lieu où se déroulera l'évènement</h4>

    <div class="location-warn" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
      <mat-icon>info</mat-icon>
      <span>Si vous n'avez pas encore identifié de lieu, renseignez votre adresse professionnelle</span>
    </div>

    <div fxLayout="column">
      <mat-form-field>
        <input matInput type="text" autocomplete="new-password" formControlName="locationLabel" maxlength="100" placeholder="Nom du lieu (facultatif)">
      </mat-form-field>

      <!-- Search for location -->
      <mat-form-field>
        <input matInput type="text" id="address" [matAutocomplete]="auto" formControlName="location" placeholder="Saisissez une adresse">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onLocationSelected($event)">
          <mat-option *ngIf="isLoading" disabled>Recherche en cours...</mat-option>
          <mat-option *ngFor="let location of locationsFound" [value]="location">
            {{location.properties.label}}
          </mat-option>
          <mat-option *ngIf="!locationsFound.length && !isLoading" disabled>Aucun résultat</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- Event type -->
    <h4>Type d'évènement</h4>

    <div class="section-filters" fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="40%" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
        <label for="eat-input">Manger ensemble</label>
        <label for="cook-input">Cuisiner ensemble</label>
        <!-- <label for="public-input">Tout public</label> -->
      </div>
      <div fxFlex="40%" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
        <mat-slide-toggle id="eat" formControlName="eat"></mat-slide-toggle>
        <mat-slide-toggle id="cook" formControlName="cook"></mat-slide-toggle>
        <!-- <mat-slide-toggle id="public" formControlName="public"></mat-slide-toggle> -->
      </div>
    </div>

    <mat-form-field>
      <textarea matInput formControlName="informations" maxlength="500" placeholder="Autres informations à destination du public"></textarea>
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="10px">
      <button mat-button type="button" class="next-button background-red" fxFlex="50" (click)="submitForm(eventLocationForm.value, true)">
        Précédent
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-button type="submit" class="next-button background-red" fxFlex="50" [disabled]="eventLocationForm.invalid">
        Suivant
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </form>
</div>