<div class="header" [ngClass]="{'header-admin' : isConnected}" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="70%" class="first-part">
    <span class="main-title">Repas ensemble - </span>
    <span class="title">où cuisiner ? où manger ?</span>
  </div>
  <div fxFlex="30%" fxLayoutAlign="space-around center">
    <div class="uppercase" fxLayoutAlign="space-around center">
      <i class="material-icons">people</i>
      &nbsp;Professionnels
    </div>
    <button *ngIf="!isConnected" mat-button type="button" (click)="openSigninDialog()">Se connecter</button>
    <button *ngIf="isConnected" mat-button type="button" class="admin-color" (click)="openSignoutDialog()">Se déconnecter</button>
  </div>
</div>