<div class="header" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="70%" class="first-part">
    <span class="main-title">Repas ensemble - </span>
    <span class="title">où cuisiner ? où manger ?</span>
  </div>
  <div fxFlex="30%" fxLayoutAlign="space-around center">
    <div class="uppercase" fxLayoutAlign="space-around center">
      <i class="material-icons">people</i>
      &nbsp;Professionnels
    </div>
    <button mat-button type="button">Se connecter</button>
  </div>
</div>