ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 6000px;
}

.carousel-wrapper {
    overflow: hidden;
}

.carousel-inner {
    height: 100%;
    display: flex;
}

.carousel-item {
    display: flex;
    align-items: start;
}