<div fxLayout="row">
  <button type="button" [class.disabled]="disabled" [class.selected]="value[WeekDays.MONDAY]" (click)="toggleDay(WeekDays.MONDAY)">L</button>
  <button type="button" [class.disabled]="disabled" [class.selected]="value[WeekDays.TUESDAY]" (click)="toggleDay(WeekDays.TUESDAY)">M</button>
  <button type="button" [class.disabled]="disabled" [class.selected]="value[WeekDays.WEDNESDAY]" (click)="toggleDay(WeekDays.WEDNESDAY)">M</button>
  <button type="button" [class.disabled]="disabled" [class.selected]="value[WeekDays.THURSDAY]" (click)="toggleDay(WeekDays.THURSDAY)">J</button>
  <button type="button" [class.disabled]="disabled" [class.selected]="value[WeekDays.FRIDAY]" (click)="toggleDay(WeekDays.FRIDAY)">V</button>
  <button type="button" [class.disabled]="disabled" [class.selected]="value[WeekDays.SATURDAY]" (click)="toggleDay(WeekDays.SATURDAY)">S</button>
  <button type="button" [class.disabled]="disabled" [class.selected]="value[WeekDays.SUNDAY]" (click)="toggleDay(WeekDays.SUNDAY)">D</button>
</div>


