<app-header></app-header>
<div class="full-page-container">
    <mat-sidenav-container>
        <mat-sidenav-content fxLayout="row">
            <div fxFlex="25%">
                <router-outlet name="sidenav"></router-outlet>
            </div>
            <div class="map-container" #map fxFlex="75%">
                <app-search-bar (goTo)=goTo($event)></app-search-bar>
                <router-outlet name="mapOverlay"></router-outlet>
            </div>
            <!--<div id="myposition"></div>-->
        </mat-sidenav-content>
        <mat-sidenav mode="over" [opened]="showSidenav" [disableClose]="true" position="end">
            <router-outlet (activate)='onPrimaryRouterActivate($event)' (deactivate)='onPrimaryRouterDeactivate($event)'></router-outlet>
            <ng-template #dynamic></ng-template>
        </mat-sidenav>
    </mat-sidenav-container>
</div>