.full-page-container {
    height: calc(100% - 60px);
}

.map-container {
    z-index: -1;
}

.mat-sidenav-container {
    height: 100%;
}

.mat-sidenav-content {
    width: 100%;
}

app-search-bar {
    z-index: 1;
    position: absolute;
    top: 20px;
    width: 60%;
    left: calc(50% - 300px);
}