.contributors-category {
    padding: 10px 0;
}

.services {
    cursor: default;
    padding: 0;
}

.services i {
    cursor: default;
    font-size: 40px;
    height: 40px;
    width: 40px;
}

.services input {
    cursor: default;
}

.services:hover input ~ i {
    background-color: #CCCCCC;
}

button.add-contributor {
    background-color: #6CCACC;
    color: white;
    margin-top: 5px;
}

button.add-contributor.services-assistants {
    background-color: #F9A755;
}

button.remove-contributor {
    background-color: #FF5555;
}