<div class="overflowable">
  <form [formGroup]="eventContributorsForm" (ngSubmit)="submitForm(eventContributorsForm.value)" fxLayout="column"
    class="sidenav-body">

    <h4 class="subtitle">Les ressources et partenaires déjà identifiés</h4>

    <ng-container [ngTemplateOutlet]="category" [ngTemplateOutletContext]="{ icon: 'kitchen', colorClass: 'services-event', title: 'Un lieu', menuLabel:'Ajouter un lieu', contributors: contributors.location, contributorsForm: eventContributorsForm.get('location').value, maxItems: 1, add: addContributorLocation.bind(this), remove: removeContributorLocation.bind(this) }"></ng-container>

    <ng-container [ngTemplateOutlet]="category" [ngTemplateOutletContext]="{ icon: 'shopping_cart', colorClass: 'services-event', title: 'Des aliments', menuLabel:'Ajouter un aliment', contributors: contributors.food, contributorsForm: eventContributorsForm.get('food').value, add: addContributorFood.bind(this), remove: removeContributorFood.bind(this) }"></ng-container>

    <ng-container [ngTemplateOutlet]="category" [ngTemplateOutletContext]="{ icon: 'school', colorClass: 'services-event', title: 'Des professionnels', menuLabel:'Ajouter un professionnel', contributors: contributors.skills, contributorsForm: eventContributorsForm.get('skills').value, add: addContributorSkills.bind(this), remove: removeContributorSkills.bind(this) }"></ng-container>

    <ng-container [ngTemplateOutlet]="category" [ngTemplateOutletContext]="{ icon: 'people', colorClass: 'services-event', title: 'Des relais participants', menuLabel:'Ajouter un relai participants', contributors: contributors.people, contributorsForm: eventContributorsForm.get('people').value, add: addContributorPeople.bind(this), remove: removeContributorPeople.bind(this) }"></ng-container>

    <ng-container [ngTemplateOutlet]="category" [ngTemplateOutletContext]="{ icon: 'mood', colorClass: 'services-event', title: 'Des accompagnateurs', menuLabel:'Ajouter un accompagnateur', menuColor: '#F9A755', contributors: contributors.assistants, contributorsForm: eventContributorsForm.get('assistants').value, add: addContributorAssistants.bind(this), remove: removeContributorAssistants.bind(this) }"></ng-container>

    <div fxLayout="row" fxLayoutGap="10px">
      <button mat-button type="button" class="next-button background-blue-light" fxFlex="50" (click)="submitForm(eventContributorsForm.value, true)">
        Précédent
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-button type="submit" class="next-button background-blue-light" fxFlex="50" [disabled]="eventContributorsForm.invalid">
        Suivant
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>

    <!-- Template for a contributor category with add/remove/display list -->
    <ng-template #category let-icon="icon" let-colorClass="colorClass" let-title="title" let-menuLabel="menuLabel"
      let-menuColor="menuColor" let-contributors="contributors" let-contributorsForm="contributorsForm" let-maxItems="maxItems"
      let-add="add" let-remove="remove">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="contributors-category">
        <label class="services needed" [ngClass]="colorClass" fxLayout="column" fxLayoutAlign="center center">
          <input type="checkbox" [checked]="contributorsForm.length" disabled>
          <i class="material-icons">{{icon}}</i>
        </label>

        <div fxFlex fxLayout="column" fxLayoutGap="5px">
          <span class="bold">{{title}}</span>
          <div *ngFor="let contributor of contributorsForm" fxLayout="row" fxLayoutAlign="space-between center"
            fxLayoutGap="10px">
            <span>{{contributor.title}}</span>
            <button mat-mini-fab class="remove-contributor" (click)="remove(contributor)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

          <button *ngIf="!(maxItems && contributorsForm.length >= maxItems)" mat-button type="button" class="add-contributor"
            [ngClass]="colorClass" fxLayout="row" fxLayoutAlign="start center" [matMenuTriggerFor]="menu" [disabled]="!contributors.length">
            <mat-icon>add</mat-icon>
            {{menuLabel}}
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let contributor of contributors" (click)="add(contributor)">{{contributor.title}}</button>
          </mat-menu>
        </div>
      </div>
    </ng-template>
  </form>
</div>