<div fxFlex fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="sidenav-header background-red">
    <span *ngIf="!contributor?.title">{{'Créer un contributeur' | uppercase}}</span>
    <span *ngIf="contributor?.title">{{contributor.title | uppercase}}</span>
    <button type="button" mat-icon-button [routerLink]="'/admin'">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <app-carousel #carousel [showControls]="false" fxFlex fxLayoutAlign="center start">
    <app-contributor-services *carouselItem class="carousel-element" [contributor]="contributor" (contributorSaved)="carousel.next()"></app-contributor-services>
    <app-contributor-form *carouselItem class="carousel-element" [contributor]="contributor" (backwardPressed)="carousel.prev()"
      (contributorSaved)="endCarousel()"></app-contributor-form>
  </app-carousel>
</div>