span {
    background-color: white;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
}

span:not(.selected):hover {
    background-color: #F0F0F0;
}

span.tab-event {
    color: #6CCACC;
}

span.tab-event.selected {
    border-bottom: 10px solid #6CCACC;
}

span.tab-contributor {
    color: #0D70CD;
}

span.tab-contributor.selected {
    border-bottom: 10px solid #0D70CD;
}