<div fxFlex fxLayout="column" class="carousel-element">
  <ng-container *ngIf="event">
    <div fxFlex="40px" fxLayout="row" fxLayoutAlign="space-between center" class="sidenav-header background-red">
      <span>{{event.name | uppercase}}</span>
      <button type="button" mat-icon-button [routerLink]="'/admin'">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div fxFlex="100%" class="event-description">
      <div class="event-section">
        <div class="bold">Description</div>
        <div class="text">{{event.description}}</div>
      </div>
      <div class="event-section">
        <div class="bold">Type d'évènement</div>
        <div>
          <span *ngIf="event.eat">manger ensemble, </span>
          <span *ngIf="event.cook">cuisiner ensemble </span>
          <!-- <span *ngIf="event.public">tous publics</span> -->
        </div>
      </div>
      <div class="event-section">
        <div class="bold">Organisateur</div>
        <div>{{event.planner}}</div>
      </div>
      <div class="event-section">
        <div class="bold">Nombre de participants</div>
        <div>{{event.participantsAmount}}</div>
      </div>
      <div class="event-section">
        <div class="bold">Inscription obligatoire</div>
        <div>{{event.inscription ? 'Oui' : 'Non'}}</div>
      </div>
      <div class="event-section">
        <div class="bold">Date</div>
        <div *ngIf="event.hasRange()">{{event.getDateRange()}}</div>
        <div *ngIf="event.isRecurrent()">{{event.getRecurrency()}}</div>
        <ng-container *ngIf="event.hasManyDates()">
          <div *ngFor="let date of event.dates">{{date | date:'EEEE dd LLLL y'}}</div>
        </ng-container>
      </div>
      <div class="event-section">
        <div class="bold">Horaires / durée de l'évènement</div>
        <div class="text">{{event.timeSlot}}</div>
      </div>
      <div class="event-section">
        <div class="bold">Contact</div>
        <div>
          <div>{{event.referent}}</div>
          <div>{{event.email}}</div>
          <div>{{event.phone}}</div>
        </div>
      </div>
      <div class="event-section">
        <div class="bold">Adresse</div>
        <div>
          <div>{{event.locationLabel}}</div>
          <div>{{event.locationHousenumber}} {{event.locationStreet}}</div>
          <div>{{event.locationPostcode}} {{event.locationCity}}</div>
        </div>
      </div>
      <div class="event-section">
        <div class="bold">Autres informations</div>
        <div class="text">{{event.informations}}</div>
      </div>
      <div *ngIf="authService.isConnected" class="event-section">
        <div class="bold">Informations à destination des contributeurs</div>
        <div class="text">{{event.partnerInformations}}</div>
      </div>
      <!-- Missing needs -->
      <div *ngIf="authService.isConnected" class="event-section">
        <div class="bold">Besoins manquants</div>
        <div fxFlexFill fxLayout="row wrap" fxLayoutAlign="center">
          <div *ngIf="event.missingLocation" class="services needed" fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
            <i class="material-icons checked">kitchen</i>
            Un lieu
          </div>
          <div *ngIf="event.missingFood" class="services needed" fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
            <i class="material-icons checked">shopping_cart</i>
            Des aliments
          </div>
          <div *ngIf="event.missingSkills" class="services needed" fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
            <i class="material-icons checked">school</i>
            Des professionnels
          </div>
          <div *ngIf="event.missingPeople" class="services needed" fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
            <i class="material-icons checked">people</i>
            Des participants
          </div>
          <div *ngIf="event.missingAssistants" class="services needed" fxLayout="column" fxLayoutAlign="center center">
            <i class="material-icons checked">mood</i>
            Des accompagnateurs
          </div>
        </div>
      </div>
    </div>

    <div fxFlex="60px" fxLayoutAlign="row" class="sidenav-footer">
      <button mat-button fxFlex type="button" class="next-button background-red" [routerLink]="'/admin'">OK</button>
      <button *ngIf="authService.isConnected" mat-button fxFlex type="button" class="update-button" (click)="modifyEvent(event.id)">
        <mat-icon class="material-icons">edit</mat-icon>
        Modifier
      </button>
      <button *ngIf="authService.isConnected" mat-icon-button type="button" class="delete-button" (click)="deleteEvent(event.id)">
        <mat-icon class="material-icons">delete</mat-icon>
      </button>
    </div>
  </ng-container>
</div>