<div fxLayout="column" fxLayoutGap="10px">
  <div *ngFor="let user of users" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <span>{{user.username}}</span>
    <span>{{user.email}}</span>
    <button mat-mini-fab type="button">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab type="button" (click)="deleteUser(user)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <a [routerLink]="['/admin', 'users', 'add']">
    <button mat-button type="button" class="next-button background-red">Ajouter un utilisateur</button>
  </a>
</div>