<div fxFlex fxLayout="column" class="carousel-element">
  <div fxFlex="40px" fxLayout="row" fxLayoutAlign="space-between center" class="sidenav-header background-red">
    <span>Liste des utilisateurs</span>
    <button type="button" mat-icon-button routerLink="/admin">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div fxLayout="column" fxLayoutGap="10px" class="sidenav-body">
    <div *ngFor="let user of users" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <span>{{user.username}}</span>
      <span>{{user.email}}</span>
      <a [routerLink]="['/admin', 'users', user.id]">
        <button mat-mini-fab type="button">
          <mat-icon>edit</mat-icon>
        </button>
      </a>
      <button mat-mini-fab type="button" (click)="deleteUser(user)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <a [routerLink]="['/admin', 'users', 'add']">
      <button mat-button type="button" class="next-button background-red">Ajouter un utilisateur</button>
    </a>
  </div>
</div>