<div class="overflowable">
  <form [formGroup]="eventMissingForm" (ngSubmit)="submitForm(eventMissingForm.value)" fxLayout="column" class="sidenav-body">

    <h4 class="subtitle">Mes besoins pour organiser l'évènement</h4>

    <div fxLayout="column" fxLayoutAlign="space-between center">
      <div fxFlexFill fxLayout="row">
        <label class="services needed" fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
          <input type="checkbox" formControlName="missingLocation">
          <i class="material-icons">kitchen</i>
          Un lieu
        </label>

        <label class="services needed" fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
          <input type="checkbox" formControlName="missingFood">
          <i class="material-icons">shopping_cart</i>
          Des aliments
        </label>
      </div>

      <div fxFlexFill fxLayout="row">
        <label class="services needed" fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
          <input type="checkbox" formControlName="missingSkills">
          <i class="material-icons">school</i>
          Des professionnels
        </label>

        <label class="services needed" fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
          <input type="checkbox" formControlName="missingPeople">
          <i class="material-icons">people</i>
          Des participants
        </label>
      </div>

      <label class="services needed" fxLayout="column" fxLayoutAlign="center center">
        <input type="checkbox" formControlName="missingAssistants">
        <i class="material-icons">mood</i>
        Des accompagnateurs
      </label>
    </div>

    <mat-form-field>
      <textarea matInput formControlName="partnerInformations" maxlength="500" placeholder="Informations utiles pour les partenaires potentiels"></textarea>
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="10px">
      <button mat-button type="button" fxFlex="50" class="next-button background-blue-light" (click)="submitForm(eventMissingForm.value, true)">
        Précédent
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-button type="submit" fxFlex="50" class="next-button background-blue-light" [disabled]="eventMissingForm.invalid">
        Enregistrer
        <mat-icon>settings</mat-icon>
      </button>
    </div>

    <br>
    <button mat-button type="button" class="next-button background-blue-light" fxFlex="28" [disabled]="eventMissingForm.invalid"
      (click)="publish(eventMissingForm.value)">
      L'événement est prêt : le publier
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </form>
</div>