<form [formGroup]="contributorForm" (ngSubmit)="submitForm(contributorForm.value)" fxFlex fxLayout="column">
  <mat-form-field class="required">
    <input matInput formControlName="title" maxlength="100" placeholder="Titre">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput formControlName="description" maxlength="500" placeholder="Description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="name" maxlength="100" placeholder="Nom">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" formControlName="hours" max="100" placeholder="Horaires">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" formControlName="email" max="100" placeholder="Adresse email">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" formControlName="phone" max="10" placeholder="Numéro de téléphone">
  </mat-form-field>

  <button mat-button type="submit" class="next-button background-red" [disabled]="contributorForm.invalid">
    Suivant
    <mat-icon>arrow_forward</mat-icon>
  </button>
</form>