:host {
    background-color: #F0F0F0;
    color: #909090;
}

a {
    color: #909090;
}

span {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase
}

.mat-icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
}