<mat-sidenav-container>
  <mat-sidenav-content>
    <button mat-button class="add-element" (click)="openSidenavAddEvent()">
      <div fxLayout="column" fxLayoutAlign="start center">
        <mat-icon>add_circle</mat-icon>
        <span class="add-element-text">Ajouter un
          <br>élément sur
          <br>la carte</span>
      </div>
    </button>
  </mat-sidenav-content>
  <mat-sidenav mode="side" [opened]="opened" position="end">
    <ng-template #dynamic></ng-template>
  </mat-sidenav>
</mat-sidenav-container>