form {
    height: 100%;
}

.filters-container {
    height: 100%;
    background-color: #eaeaea;
}

.content-title {
    color: #6CCACC;
    background-color: white;
}

.section-header {
    padding: 20px 0 20px 0;
    width: 100%
}

.section-header>div {
    text-align: center;
}

.title-decoration {
    background-color: #f4f4f4;
    height: 12px;
}

.section-title {
    color: #6CCACC;
}

.section-filters {
    padding-top: 20px;
}

mat-form-field {
    width: 200px;
}

.section-assistants {
    padding: 20px;
    background-color: #0d70cd;
    color: white;
}

.search-input {
    border-radius: 10px;
    background-color: white;
    color: #c6c6c6;
    height: 35px;
}

.search-input>i {
    border-radius: 10px 0 0 10px;
    padding: 0 7px 0 10px;
}

.search-input input {
    border: none;
    width: 100%;
}