.left-content>* {
    min-height: fit-content;
}

.content-title {
    color: #6CCACC;
    background-color: white;
}

.filters-container {
    height: 100%;
    background-color: #eaeaea;
}

.section-header {
    margin: 20px 0 20px 0;
    width: 100%
}

.section-header>div {
    text-align: center;
}

.title-decoration {
    background-color: #f4f4f4;
    height: 12px;
}

.section-title {
    color: #6CCACC;
}

.section-filters {
    padding-top: 20px;
}

mat-form-field {
    width: 200px;
}

.section-assistants {
    padding: 20px;
    background-color: #0d70cd;
    color: white;
}