<div class="left-content" fxLayout="column">
  <div class="content-title bold" fxLayoutAlign="center">
    Filtrer ma recherche
  </div>
  <div class="filters-container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="30px">
    <div class="section-title">
      <div class="section-title">
        Date ou période
      </div>
    </div>
    <div>
      <div class="section-title">
        Type d'évènement
      </div>
      <section fxLayout="column" fxLayoutGap="20px">
        <mat-slide-toggle labelPosition="before">
          Manger ensemble
        </mat-slide-toggle>
        <mat-slide-toggle labelPosition="before">
          Cuisiner ensemble
        </mat-slide-toggle>
        <mat-slide-toggle labelPosition="before">
          Tout public
        </mat-slide-toggle>
        <mat-slide-toggle labelPosition="before">
          Récurrent
        </mat-slide-toggle>
      </section>
    </div>
  </div>
</div>