<div class="popup">
  <div class="popup-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="uppercase" fxLayoutAlign="space-around center">
      <i class="material-icons">people</i>
      &nbsp;Professionnels
    </div>
    <a class="clickable" (click)="close()">
      <i class="material-icons">close</i>
    </a>
  </div>
  <div class="popup-body">
    <!-- Authentication -->
    <form [formGroup]="loginForm" (ngSubmit)="signin(loginForm.value)" fxLayout="column" fxLayoutGap="30px"
      fxLayoutAlign="center center">
      <span>Saisissez vos identifiants</span>

      <mat-form-field>
        <input matInput type="email" formControlName="email" placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Mot de passe">
      </mat-form-field>
      <span *ngIf="showError" class="error-message">Identifiants invalides</span>

      <button mat-button type="submit" class="authentication-button uppercase" [disabled]="loginForm.invalid">
        Se connecter
      </button>
    </form>
  </div>
</div>