<div class="popup">
  <div class="popup-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="uppercase" fxLayoutAlign="space-around center">
      <mat-icon>people</mat-icon>
      &nbsp;{{showCreateAccount ? 'Création de compte' : 'Connexion'}}
    </div>
    <a class="clickable" (click)="close()">
      <i class="material-icons">close</i>
    </a>
  </div>
  <!-- Authentication -->
  <div [hidden]="showCreateAccount" class="popup-body">
    <form [formGroup]="loginForm" (ngSubmit)="signin(loginForm.value)" fxLayout="column" fxLayoutGap="20px"
      fxLayoutAlign="center center">
      <div fxLayout="column">
        <mat-form-field class="required">
          <input matInput type="email" formControlName="email" placeholder="Email">
        </mat-form-field>
      </div>

      <span *ngIf="showError" class="error-message">Identifiants invalides</span>

      <span class="create-account" (click)="createAccount()">Créer mon compte</span>

      <button mat-button type="submit" class="uppercase" [disabled]="loginForm.invalid">
        Se connecter
      </button>
    </form>
  </div>
  <!-- Account creation -->
  <div [hidden]="!showCreateAccount" class="popup-body">
    <app-user-form (userCreated)="onUserCreated($event)"></app-user-form>
  </div>
</div>